{% extends "layout.html" %}

{% block title %} Register {% endblock title %}


{% block content %}
    <h1>Register</h1>

    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card text-bg-info mb-3" >
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="exampleInputUsername" class="form-label">Username</label>
                            <input name="username" type="text" class="form-control" id="exampleInputUsername" >
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputCity" class="form-label">City</label>
                            <input name="city" type="text" class="form-control" id="exampleInputCity" >
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>              
        </div>
    </div>
    
{% endblock content %}